@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bc {
    @apply transition-all duration-300 border-2 border-white;
  }

  .input {
    @apply w-[100%] text-white text-lg bg-transparent  border-b-[1px]  hover:border-b-[2px] focus:outline-none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    /* background-color: transparent !important; */
    -webkit-text-fill-color: black !important;
  }
  .input_border {
    @apply w-0 absolute bg-white h-[2px] bottom-0 left-0 transition-all duration-200;
  }

  .input:focus ~ .input_border {
    width: 100%;
  }

  .ns {
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
